/* Welcome Page */
.homepage {
    border: 2px solid black;
    padding: 2vh;
    border-radius: 20px;
    margin-top: 5vh auto;
    margin-bottom: auto;
    max-width: 800px;
    text-align: center;
}

/* Text */

.description {
    font-weight: bold;
}


/* Picture */

.picture {
    max-width: 100%;
    height: auto;
    margin-top: 1vh;
}

.author {
    font-weight: bold;
    margin-top: 1vh;
}