@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');

* {
    font-family: Arial, sans-serif;
    text-align: center;
}

/* HTML Body and Main */

html {
    height: 100vh;
}

body {
    background: linear-gradient(to bottom, #6B52AE, #1A85FF); 
    background-size: cover; 
    background-attachment: fixed;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
}

/* Header */

header {
    text-align: center;
    padding: 1em;
}

/* Header Title */
header h1 {
    color: rgba(255,50,175, 1);
    font-family: 'Sixtyfour', sans-serif;
    font-size: 4vw;
    animation: pulse 1s infinite;
}

/* Header Logo */
#logo {
    text-align: center; /* Center the content within the #logo div */
    float: left;
    margin-top: 20px;
}
  
#logo img {
    width: 100px; 
    height: 100px;
    margin: 0 auto; 
  }

/* Header Navigation Bar */

.yellow-nav-bar {
    background-color: rgba(255, 255, 10);
    border: 2px solid black;
    border-radius: 10px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.yellow-nav-bar a {
    color: black;
    font-weight: bold;

    padding-left: 5vw;
    padding-right: 5vw;
}

.yellow-nav-bar a:hover {
    color: #1A85FF;
}

/* Footer */

footer {
    background: hsl(180, 10%, 10%);
    color: white;

    flex: 0 30px;
    justify-content: center;
}

.footer-links {
    font-weight: bold;
}



/* Header */
h2 {
    color:  rgba(255,50,175, 1);
    font-weight: bold;
}

/* Links */
a {
    text-decoration: none;
    list-style: none;
}

/* Buttons */

.box-button {
    background-color: yellow;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    
    color: black;
    text-decoration: none;
    
    display: inline-block;
}

.box-button a {
    color: black;
}


.box-button a:hover {
    color: #1A85FF;
    font-weight: bold;
}



/* Media Screen */
@media (max-height: 600px) {
    /* header {
      display: none;
    } */
    #logo {
        display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
}
/* 
@media (max-width: 800px) {
    #logo {
        display: none;
    }
    footer {
      display: none;
    }
    main {
      flex: 1 100vh;
    }
} */

@media (max-width: 1200px) {
    .yellow-nav-bar {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .yellow-nav-bar a {    
        padding-left: 1vw;
        padding-right: 1vw;
    }
}

/* Animation */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.01);
    }
    100% {
        transform: scale(1);
    }
}
